*{
    color: #0A3055;
}
h1{
    font-family: GentyRegular;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    /* color: #000036; */
}

h2{   
    font-family: GentyRegular;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-family: GentySans;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: Farro;
}

.home-page{
    padding-top: 1vh;
    padding-bottom: 5vh;
    background-color: #FFECDB;
}

.private-container{
    display: inline-block;
    width: 30%;
    vertical-align: text-top;
    justify-content: center;
    align-items: center;
    padding: 2%;
    text-align: center;
}

.corporate-container{
    justify-content: center;
    align-items: center;
    /* padding: 10px 10px 10px 100px; */
    text-align: center;
}

.online-container{
    text-align: center;
    content: "";
    /* display: flex; */
    clear:both;
}